.container {
    @include if-is-desktop {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
}

body {

    .hidden {
        display: none;

        @include if-is-tablet {
            display: flex;
        }

        @include if-is-desktop {
            display: flex;
        }
    }

    &.show-description {

        .description {
            display: block;
            transition: all 1s;
        }
    }
}

.board {
    background: #363636;
    padding: 0px;
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include if-is-tablet {
        display: flex; //margin: 50px 50px 50px 50px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }


    .board-item {
        background: #fff;
        width: 100%;
        padding-top: 0px;
        margin-bottom: 3px;
        border-radius: 8px;
        align-items: center;


        @include if-is-tablet {
            background: #fff;
            width: 200px;
            height: 100%;
            margin: 20px;
        }

        @include if-is-desktop {
            background: #fff; //margin-bottom: 0px;
            border-radius: 0px;
            width: 400px;
            height: 100%;
            margin: 40px;
            justify-content: space-between;
            display: flex;
            flex-flow: column nowrap;
        }

        .square-pic {

            padding-bottom: 0px;
            margin: 0 auto;
            padding: 0px;


            .img.desaturate {
                filter: grayscale(100%);
                @include if-is-tablet {
                    filter: grayscale(60%)
                }
            }

            .img.hover-color {
                @include if-is-desktop {
                    filter: grayscale(0%);
                }
            }

            .img {
                border-radius: 3px;
                border-bottom: 1px solid #363636;
                transition: 0.4s;

                @include if-is-desktop {
                    border-radius: 0px;
                }
            }
        }

        .footer-pic {
            padding: 8px;
            text-align: center;
            color: #363636;
        }
    }
}