//@import "variables";

body {
    font-family: $main-font-family;
    font-size: $font-size-base;
    margin: 0 auto;
}

img,
embed,
object,
video {
    max-width: 100%;
}

label,
input,
button,
textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
